body{
  background-color: gray;
}

/* Estilizando as casas (squares) */
/* Estilizando as linhas do tabuleiro (board-row) */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board-row {
  display: flex;
}

.board-row:not(:last-child) {
  margin-bottom: 10px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  background-color: #f2f2f2;
  cursor: pointer;
  border: 1px solid #ccc;
}

.square:hover {
  background-color: #e0e0e0;
}

.square:active {
  background-color: #ccc;
}
